body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

/* Заголовок FAQ */
h1 {
    font-size: 2em;
    text-align: left;
    margin: 20px 0;
    padding-left: 20px;
}

/* Стили для асайд меню */
aside {
    width: 350px; /* Ширина блока с категориями */
    padding: 20px;
    background-color: #f8f8f8;
    border-right: 1px solid #ccc; /* Разделитель */
    height: 100vh; /* Полная высота окна */
    position: fixed; /* Фиксируем меню */
    font-size: 20px;
}

/* Стили для ссылок в категории */
aside a {
    text-decoration: none; /* Убираем подчеркивание */
    color: #333; /* Цвет текста */
    display: block; /* Делаем ссылки блочными элементами */
    padding: 5px 0; /* Отступы сверху и снизу */
}

aside li {
    list-style: none; /* Убираем маркеры списка */
    padding-left: 0; /* Убираем отступ слева */
}

aside ul {
    list-style: none; /* Убираем маркеры списка */
    padding-left: 15px; /* Убираем отступ слева */
}

/* Стиль подкатегорий */
aside ul ul {
    padding-left: 30px; /* Отступ для подкатегорий */
}

/* Стили для контейнера главного контента */
main {
    margin-left: 350px; /* Учтем ширину aside + отступ */
    padding: 20px;

}

/* Стиль для строки поиска */
form {
    display: flex;
    justify-content: center; /* Центрируем строку поиска */
    margin: 50px 0;
}

input[type="text"] {
    padding: 10px;
    font-size: 1em;
    width: 600px; /* Ширина строки поиска */
}

button {
    padding: 10px;
    font-size: 1em;
    margin-left: 15px;
}

/* Стили для вопросов FAQ */
.faq-item {
    list-style: none; /* Убираем маркеры списка */
    margin: 1% 10%;
    cursor: pointer; /* Курсор указателя */
    border-bottom: 1px solid black;
    padding: 5px;
    font-size: 20px;
}

/* Заголовок вопросов FAQ */
.faq-answer {
    margin: 5px; /* Отступ сверху для ответов */
}

/* Изображения */
img {
    margin: 0 5% ;
    max-width: 85%; /* Ограничиваем максимальную ширину изображений */
    height: auto; /* Сохраняем пропорции изображений */
}

/* Добавим эффекты наведения для ссылок */
aside a:hover {
    color: #007BFF; /* Цвет ссылки при наведении */
    font-weight: bold; /* Делает текст жирным */
}