<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
</head>
<body>
    <h1>Вопросы и Ответы</h1>

    <form method="GET" action="">
        <input type="text" name="search" value="{{ search_query }}" placeholder="Поиск по вопросам и ответам">
        <button type="submit">Поиск</button>
    </form>

    {% if find_faq %}
        <ul>
            {% for faq in find_faq %}
                <li>
                    {{ faq.question }}<br>
                    {{ faq.answer }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Нет доступных вопросов и ответов.</p>
    {% endif %}

    <div>
        {% if find_faq.has_next %}
        <a href="?page={{ find_faq.next_page_number }}&search={{ search_query }}">Далее</a>
        {% endif %}
    </div>
</body>
</html>