{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div>
        <aside>
            <h1><a href="/">FAQ</a></h1>
                <li>
                    <a href="?category=type:typical-questions&search={{ search_query }}">Типовые вопросы</a>
                    <ul>
                        <li>
                            <a href="?category=type:typical-questions/category:ar&search={{ search_query }}">Раздел АР</a>
                            <ul>
                                <li><a href="?category=type:typical-questions/category:ar/subcategory:doc&search={{ search_query }}">Оформление документации</a></li>
                                <li><a href="?category=type:typical-questions/category:ar/subcategory:mod&search={{ search_query }}">Моделирование</a></li>
                                <li><a href="?category=type:typical-questions/category:ar/subcategory:sv&search={{ search_query }}">Спецификации/ведомости</a></li>
                                <li><a href="?category=type:typical-questions/category:ar/subcategory:fam&search={{ search_query }}">Семейства</a></li>
                                <li><a href="?category=type:typical-questions/category:ar/subcategory:psm&search={{ search_query }}">Плагины, скрипты и макросы</a></li>
                                <li><a href="?category=type:typical-questions/category:ar/subcategory:orher&search={{ search_query }}">Прочее</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="?category=type:typical-questions/category:kr&search={{ search_query }}">Раздел КР</a>
                            <ul>
                                <li><a href="?category=type:typical-questions/category:kr/subcategory:doc&search={{ search_query }}">Оформление документации</a></li>
                                <li><a href="?category=type:typical-questions/category:kr/subcategory:mod&search={{ search_query }}">Моделирование</a></li>
                                <li><a href="?category=type:typical-questions/category:kr/subcategory:sv&search={{ search_query }}">Спецификации/ведомости</a></li>
                                <li><a href="?category=type:typical-questions/category:kr/subcategory:fam&search={{ search_query }}">Семейства</a></li>
                                <li><a href="?category=type:typical-questions/category:kr/subcategory:orher&search={{ search_query }}">Прочее</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="?category=type:typical-questions/category:mer&search={{ search_query }}">Раздел MEP</a>
                            <ul>
                                <li><a href="?category=type:typical-questions/category:mer/subcategory:doc&search={{ search_query }}">Оформление документации</a></li>
                                <li><a href="?category=type:typical-questions/category:mer/subcategory:mod&search={{ search_query }}">Моделирование</a></li>
                                <li><a href="?category=type:typical-questions/category:mer/subcategory:sv&search={{ search_query }}">Спецификации/ведомости</a></li>
                                <li><a href="?category=type:typical-questions/category:mer/subcategory:fam&search={{ search_query }}">Семейства</a></li>
                                <li><a href="?category=type:typical-questions/category:mer/subcategory:orher&search={{ search_query }}">Прочее</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="?category=type:warning-revit&search={{ search_query }}">Предупреждения Revit</a></li>
                <li><a href="?category=type:errors-revit&search={{ search_query }}">Ошибки Revit</a></li>
            </ul>
        </aside>

    <main>
        <form method="GET" action="">
            <input type="text" name="search" value="{{ search_query }}" placeholder="Поиск по вопросам и ответам">
            <button type="submit">Поиск</button>
        </form>
        {% if find_faq %}
            <ul>
                {% for faq in find_faq %}
                    <li class="faq-item" onclick="toggleAnswer({{ faq.id }})">
                        {{ faq.question }}
                        <div id="answer-{{ faq.id }}" class="faq-answer" style="display: none;">
                           {% if faq.question_image %}
                                <img src="{{ faq.question_image }}" alt="Изображение вопроса" style="max-width: 300px;">
                            {% endif %}
                            <p>{{ faq.answer }}</p>
                            {% if faq.answer_image %}
                                <img src="{{ faq.answer_image }}" alt="Изображение ответа" style="max-width: 300px;">
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Нет доступных вопросов и ответов.</p>
        {% endif %}

        <div>
            {% if find_faq.has_next %}
                <a href="?page={{ find_faq.next_page_number }}&search={{ search_query }}&category={{ selected_category }}">Далее</a>
            {% endif %}
        </div>
    </main>

    <script>
        function toggleAnswer(id) {
            const answerElement = document.getElementById(`answer-${id}`);
            if (answerElement.style.display === "none") {
                answerElement.style.display = "block"; // Показывает ответ
            } else {
                answerElement.style.display = "none"; // Скрывает ответ
            }
        }
    </script>
    </div>
</body>
</html>